.container {
    width: 935px;
    padding-bottom: 10px;
    float:left;
}
.container2 {
    width: 935px;
    padding-bottom: 10px;
    overflow: scroll;
}

tfoot input {
    width: 100%;
}

table {
    table-layout: fixed;
}

.btnholdr {
    float: right;
    background-color: purple;
}