.dtWrap {
    width: 935px;
    padding-bottom: 10px;
    float:left;
    display: none;
}
.container2 {
    width: 935px;
    padding-bottom: 10px;
    overflow: scroll;
}

tfoot input {
    width: 100%;
}

table {
    table-layout: fixed;
}

.btnholdr {
    float: right;
    background-color: purple;
}

#squadMembr0 {
    background-color: lightblue;
}
#squadMembr1 {
    background-color: lightgreen;
}
#squadMembr2 {
    background-color: orange;
}
#squadMembr3 {
    background-color: rgb(160, 81, 160);
}
#squadMembr4 {
    background-color: rgb(207, 207, 0);
}
/* Keeps the auto complete options from showing up in the DOM */
.ui-helper-hidden-accessible {
    display:none !important;
}