.dtWrap {
    width: 935px;
    padding-bottom: 10px;
    float:left;
    display: none;
}
.container2 {
    width: 935px;
    padding-bottom: 10px;
    overflow: scroll;
}

tfoot input {
    width: 100%;
}

table {
    table-layout: fixed;
}

.btnholdr {
    float: right;
    background-color: purple;
}
/* Keeps the auto complete options from showing up in the DOM */
.ui-helper-hidden-accessible {
    display:none !important;
}